@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: #9195A3;
}

.frame {
  width: 400px; /* Fixed width */
  height: 761.78px; /* Fixed height */
  background-color: white; /* Optional: Background color */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Shadow for elevation */
}

/* Tablet View */
@media (max-width: 1024px) {
  .frame {
    width: 80%; /* Scales width to 80% of the screen for tablets */
    height: auto; /* Adjust height to maintain aspect ratio */
  }
}


@media (max-width: 768px) {
  .frame {
    width: 90%; /* Scales width to 90% of the screen */
    padding: 15px;
    height: auto; /* Adjust height if needed */
  }
}


@media (max-width: 480px) {
  .frame {
    width: 95%; /* Scales width to 95% for small mobile screens */
    padding: 10px;
    height: auto; /* Adjust height if needed */
  }
}
